pandas
mlflow==2.2.2
python-dotenv==1.0.0
notebook
numpy
boto3
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
tqdm
httpx==0.23.3
ensure==1.0.2
streamlit
pydantic==1.10.5
joblib
types-PyYAML
requests==2.28.2
six==1.16.0
uvicorn==0.20.0
pinecone-client
torch
torchvision==0.16.2
transformers
httpx
Flask
Flask-Cors
openai
cohere
langchain==0.0.174 
llama-index==0.6.9
openai
#llama_index[openai]
-e . # This is needed for creation as a local Project